{% extends 'layout.html' %}
{% block content %}

<header>
    <h3>Product List</h3>
    <nav>
        <a class="btn btn-primary" href="/products/add">Add</a>
        <a class="btn btn-primary" href="/">Home</a>
    </nav>
</header>

{% for product in products %}

<div class="card text-center">
    <div class="card-header">
        Protective
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text"><b>Available:</b> {{ product.available }}</p>
        <p class="card-text"><b>Price:</b> {{ product.price }}</p>
        <a href="/products/{{ product.id }}" class="btn btn-primary">{{ product.name }}</a>
    </div>
</div>


{% endfor %}

{% endblock %}